// $
$body-radius: 8px;
$body-border: 4px;
$body-height: 48px;
$body-speed: 0.25s;

.body {
  display: grid;
  place-items: center;
  align-content: center;
  font-family: "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue",
    Helvetica, Arial, sans-serif, system-ui;
  position: absolute;
  left: 1%;
  top: 3%;

  .tabs {
    --ease: linear(
      0,
      0.1641 3.52%,
      0.311 7.18%,
      0.4413 10.99%,
      0.5553 14.96%,
      0.6539 19.12%,
      0.738 23.5%,
      0.8086 28.15%,
      0.8662 33.12%,
      0.9078 37.92%,
      0.9405 43.12%,
      0.965 48.84%,
      0.9821 55.28%,
      0.992 61.97%,
      0.9976 70.09%,
      1
    );
    height: $body-height;
    display: grid;
    grid-auto-flow: column;
    background: hsl(0 0% 0%);
    border-radius: $body-radius;
    grid-auto-columns: 1fr;
    position: relative;
    border: $body-border solid hsl(0 0% 0%);

    > .input,
    .sr-only {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      white-space: nowrap;
      border-width: 0;
    }

    &::after {
      pointer-events: none;
      content: "";
      width: calc(100% / var(--count));
      height: 100%;
      background: hsl(0 0% 100%);
      position: absolute;
      border-radius: calc(#{$body-radius} - #{$body-border});
      mix-blend-mode: difference;
      transform: translateX(calc(var(--active, 0) * 100%));
      transition: translate, outline-color $body-speed var(--ease, ease);
      outline: 2px solid transparent;
    }

    &:has(:focus-visible)::after {
      outline-color: red;
    }

    .label {
      padding: 0 clamp(10px, 10px + 10px, 20px);
      cursor: pointer;
      text-align: center;
      height: 100%;
      display: grid;
      border-radius: calc(#{$body-radius} - #{$body-border});
      place-items: center;
      color: hsl(0 0% 100% / calc(0.5 + var(--highlight, 0)));
      transition: background, color $body-speed var(--ease, ease);

      &:hover {
        --highlight: 0.35;
        background: hsl(0 0% 20%);
      }
    }

    &:has(:checked:nth-of-type(1)) {
      --active: 0;
    }
    &:has(:checked:nth-of-type(2)) {
      --active: 1;
    }
    &:has(:checked:nth-of-type(3)) {
      --active: 2;
    }
    &:has(:checked:nth-of-type(4)) {
      --active: 3;
    }

    :checked + .label {
      --highlight: 1;
    }

    &:has(.input:nth-of-type(2)) {
      --count: 2;
    }
    &:has(.input:nth-of-type(3)) {
      --count: 3;
    }
    &:has(.input:nth-of-type(4)) {
      --count: 4;
    }
  }
}
//
//
// $ Button :
.Btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  left: 0;
  z-index: 200;
  top: 0;
  overflow: hidden;
  transition-duration: 0.3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: rgb(255, 65, 65);
  &:hover {
    width: 125px;
    border-radius: 40px;
    transition-duration: 0.3s;
  }

  &:hover {
    .sign {
      width: 30%;
      transition-duration: 0.3s;
      padding-left: 20px;
    }
  }
  /* hover effect button's text */
  &:hover {
    .text {
      opacity: 1;
      width: 70%;
      transition-duration: 0.3s;
      padding-right: 10px;
    }
  }
  /* button click effect*/
  &:active {
    transform: translate(2px, 2px);
  }
}
.sign {
  width: 100%;
  transition-duration: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign {
  svg {
    width: 17px;
    path {
      fill: white;
    }
  }
}

.text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: 0.3s;
  margin-right: 10px;
}
// $loading:
.Loading {
  background: #0000006d;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 14%;
  display: flex;
  align-items: center;
  justify-content: center;
  .spinner {
    width: 56px;
    height: 56px;
    display: grid;
    border: 4.5px solid #0000;
    border-radius: 50%;
    border-color: #dbdcef #0000;
    animation: spinner-e04l1k 1s infinite linear;
    &::before,
    &::after {
      content: "";
      grid-area: 1/1;
      margin: 2.2px;
      border: inherit;
      border-radius: 50%;
    }
    &::before {
      border-color: #474bff #0000;
      animation: inherit;
      animation-duration: 0.5s;
      animation-direction: reverse;
    }

    &::after {
      margin: 8.9px;
    }
  }

  @keyframes spinner-e04l1k {
    100% {
      transform: rotate(1turn);
    }
  }
}
//
//
//
